<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Region</key>
		<string>NA</string>
		<key>Recovery</key>
		<dict>
			<key>SEN</key>
			<integer>40</integer>
			<key>SUB</key>
			<integer>20</integer>
		</dict>
		<key>Coupons</key>
		<array>
			<integer>100</integer>
			<integer>500</integer>
		</array>
	</dict>
	<dict>
		<key>Region</key>
		<string>EU</string>
		<key>Recovery</key>
		<dict>
			<key>SEN</key>
			<integer>40</integer>
			<key>SUB</key>
			<integer>20</integer>
		</dict>
		<key>Coupons</key>
		<array>
			<integer>25</integer>
			<integer>100</integer>
			<integer>500</integer>
			<integer>1000</integer>
		</array>
	</dict>
	<dict>
		<key>Region</key>
		<string>EM</string>
		<key>Recovery</key>
		<dict>
			<key>SEN</key>
			<integer>25</integer>
			<key>SUB</key>
			<integer>25</integer>
		</dict>
		<key>Coupons</key>
		<array>
			<integer>100</integer>
			<integer>500</integer>
		</array>
	</dict>
	<dict>
		<key>Region</key>
		<string>Asia</string>
		<key>Recovery</key>
		<dict>
			<key>SEN</key>
			<integer>40</integer>
			<key>SUB</key>
			<integer>20</integer>
		</dict>
		<key>Coupons</key>
		<array>
			<integer>100</integer>
			<integer>500</integer>
		</array>
	</dict>
	<dict>
		<key>Region</key>
		<string>Japan</string>
		<key>Recovery</key>
		<dict>
			<key>SEN</key>
			<integer>35</integer>
			<key>SUB</key>
			<integer>15</integer>
		</dict>
		<key>Coupons</key>
		<array>
			<integer>25</integer>
			<integer>100</integer>
			<integer>500</integer>
		</array>
	</dict>
	<dict>
		<key>Region</key>
		<string>AUS</string>
		<key>Recovery</key>
		<dict>
			<key>SEN</key>
			<integer>40</integer>
			<key>SUB</key>
			<integer>20</integer>
		</dict>
		<key>Coupons</key>
		<array>
			<integer>100</integer>
			<integer>500</integer>
		</array>
	</dict>
	<dict>
		<key>Region</key>
		<string>LCDS</string>
		<key>Recovery</key>
		<dict>
			<key>SEN</key>
			<integer>70</integer>
		</dict>
		<key>Coupons</key>
		<array>
			<integer>0</integer>
			<integer>100</integer>
			<integer>250</integer>
			<integer>500</integer>
		</array>
	</dict>
</array>
</plist>
